body{background-color: rgb(241, 235, 227);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(4, 4, 49);}

header {background-color: rgb(5, 64, 44);
    color: whitesmoke;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4%;
    box-shadow: 0 4px 8px rgb(4, 4, 49);}

nav{text-align: center;}
nav ol li{list-style: none;
    display: inline;
    color: blue;}
nav ol li a{text-decoration: none;}
nav ol li a:hover{text-decoration: underline;}
nav ol li a:visited{color: blueviolet;}

p, h2{margin: auto;}

section{display: block;
    padding: auto;
    margin: auto;}
main section image{width: 30%;
    height: 30%;}

footer {font-style: italic;
    font-size: small;}